{% load static %}

<aside  class="sidebar sidebar-offcanvas" id="sidebar">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home_old"%}">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#finanzas" aria-expanded="false" aria-controls="finanzas">
          <i class="mdi mdi-chart-arc menu-icon"></i>
          <span class="menu-title">Finanzas</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="finanzas">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{% url "balance-general" %}">Balance General</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "balance_ap" %}">Balance AP</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "analisis_activo" %}">Análisis del Activo</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "analisis_pasivo" %}">Análisis del Pasivo</a></li>

          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config">
          <i class="mdi mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Administrador</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="config">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{% url "usuarios" %}">Gestión - Usuarios</a></li>
            {% if user.is_staff == True and user.is_superuser == True and user.is_active == True %}
              <li class="nav-item"> <a class="nav-link" href="{% url "empresas" %}">Gestión - Empresas</a></li>
            {% endif %}

          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#logistica" aria-expanded="false" aria-controls="logistica">
          <i class="mdi mdi-glassdoor menu-icon"></i>
          <span class="menu-title">Logistica</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="logistica">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{% url "logistica_stocks" %}">Stocks</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "estado_inventario" %}">Almacén</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "gestion_stocks" %}">Gestión Stocks</a></li>
            

          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#comercial" aria-expanded="false" aria-controls="comercial">
          <i class="mdi mdi-percent menu-icon"></i>
          <span class="menu-title">Comercial</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="comercial">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{% url "informe_ventas" %}">Informe Ventas</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "resumen_ventas" %}">Resumen Ventas</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "comercial" %}">Comercial</a></li>

          </ul>
        </div>
      </li>
      {% if user.profile.company.category.description == "Agrícola" or user.profile.company.category.description == "Agroindustrial"%}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#produccion" aria-expanded="false" aria-controls="produccion">
          <i class="mdi mdi-glassdoor menu-icon"></i>
          <span class="menu-title">Produccion</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="produccion">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url "ejecucion_agricola" %}">Ejecución de Campaña</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "agricola_costos" %}">Costos de Campaña</a></li>
          </ul>
        </div>
      </li>
      {% endif %}

    </ul>

</aside >